dist: xenial
language: cpp

sudo: false

# additional compilers  
matrix:
  include:
    - os: linux
      compiler: gcc
      env: COMPILER=g++-5
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-5', 'ninja-build']

    - os: linux
      compiler: gcc
      env: COMPILER=g++-6
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-6', 'ninja-build']

    - os: linux
      compiler: gcc
      env: COMPILER=g++-7
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-7', 'ninja-build']

    - os: linux
      compiler: gcc
      env: COMPILER=g++-8
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-8', 'ninja-build']

    - os: linux
      compiler: gcc
      env: COMPILER=g++-9
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-9', 'ninja-build']

    - os: linux
      compiler: gcc
      env:
        - COMPILER=g++-9
        - IMPLICIT_CONVERSIONS=OFF
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-9', 'ninja-build']

    - os: linux
      compiler: gcc
      env:
        - COMPILER=g++-9
        - CXXFLAGS=-std=c++2a
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-9', 'ninja-build']

    # Linux / Clang

    - os: linux
      compiler: clang
      env: COMPILER=clang++-3.9
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-6', 'clang-3.9', 'ninja-build']

    - os: linux
      compiler: clang
      env: COMPILER=clang++-4.0
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test', 'llvm-toolchain-trusty-4.0']
          packages: ['g++-6', 'clang-4.0', 'ninja-build']

    - os: linux
      compiler: clang
      env: COMPILER=clang++-7
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test', 'llvm-toolchain-trusty-7']
          packages: ['g++-6', 'clang-7', 'ninja-build']

    - os: linux
      compiler: clang
      env:
        - COMPILER=clang++-7
        - CXXFLAGS=-std=c++1z
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test', 'llvm-toolchain-trusty-7']
          packages: ['g++-6', 'clang-7', 'ninja-build']

before_script:
  - export CXX=$COMPILER
  - mkdir build
  - cmake --version
  - $CXX --version
  - cd build
  - cmake ..

script:
  - cmake --build . -- -j$(nproc)

after_script:
  - ctest
