branches:
  only:
    - master

init:
  - git config --global core.autocrlf input

os:
  - Visual Studio 2017
  - Visual Studio 2019
  - Visual Studio 2022

platform:
  - Win32
  - x64

configuration:
  - Debug
  - Release

before_build:
  - git submodule update --init --recursive
  - mkdir build
  - ps: |
      $map = @{
        'Visual Studio 2017' = 'Visual Studio 15 2017'
        'Visual Studio 2019' = 'Visual Studio 16 2019'
        'Visual Studio 2022' = 'Visual Studio 17 2022'
      }
      $env:GEN = $map[$env:APPVEYOR_BUILD_WORKER_IMAGE]
      if (-not $env:GEN) { throw "Unknown APPVEYOR_BUILD_WORKER_IMAGE: $($env:APPVEYOR_BUILD_WORKER_IMAGE)" }
      Write-Host "Using CMake generator: $env:GEN, platform: $env:PLATFORM"
  - cd build
  - cmake .. -G "%GEN%" -A %PLATFORM%

build_script:
  - cmake --build . --config %CONFIGURATION%

test_script:
  - ctest -C %CONFIGURATION% -V
