branches:
  only:
    - master

init:
  - git config --global core.autocrlf input

image:
  - Visual Studio 2017
  - Visual Studio 2019
  - Visual Studio 2022

matrix:
  fast_finish: true

platform:
  - Win32
  - x64

configuration:
  - Debug
  - Release

for:
  - matrix:
      only:
        - image: Visual Studio 2017
    environment:
      CMAKE_GENERATOR: "Visual Studio 15 2017"
  - matrix:
      only:
        - image: Visual Studio 2019
    environment:
      CMAKE_GENERATOR: "Visual Studio 16 2019"
  - matrix:
      only:
        - image: Visual Studio 2022
    environment:
      CMAKE_GENERATOR: "Visual Studio 17 2022"


before_build:
  - git submodule update --init --recursive
  - mkdir build
  - cmake .. -G "%CMAKE_GENERATOR%" -A %PLATFORM%

build_script:
  - cmake --build . --config %CONFIGURATION%

test_script:
  - ctest -C %CONFIGURATION% -V
