site_name: Cache with LRU/LFU/FIFO policies
site_url: https://rs-stuff.dev/caches

repo_name: vpetrigo/caches
repo_url: https://github.com/vpetrigo/caches

copyright: Copyright &copy; 2015-2026 Vladimir Petrigo

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/vpetrigo
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/vladimirpetrigo/
    - icon: fontawesome/brands/paypal
      link: https://www.paypal.me/vpetrigo

theme:
  name: material
  language: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: brown
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: brown
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  font:
    text: Roboto
    code: Inconsolata
  features:
    - tabs
    - instant

nav:
  - Home:
      - Cache library: "index.md"
      - License: "LICENSE.md"
  - API:
      - Cache: "api/cache/cache.md"
      - Policies:
          - Interface: "api/policy/policy_interface.md"
          - Least recently used (LRU): "api/policy/lru.md"
          - Least frequently used (LFU): "api/policy/lfu.md"
          - First in, first out (FIFO): "api/policy/fifo.md"
          - No eviction: "api/policy/no_eviction.md"
      - Key traits: "api/key_traits.md"
      - Wrapper policy: "api/wrapper_policy.md"
  - Doxygen: "doxygen/index.html"

plugins:
  - search
  - mkdocs-simple-hooks:
      hooks:
        on_pre_build: "docs.hooks:copy_files"
  - exclude:
      glob:
        - hooks.py

markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.snippets
