[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-simple-hooks = "~=0.1"
mkdocs-exclude = "~=1.0"

[dev-packages]

[requires]
python_version = "3.10"
