name: Documentation
on:
  release:
    types:
      - published

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "true"
      - name: "Install doxygen"
        run: |
          wget -qO- https://github.com/doxygen/doxygen/releases/download/Release_1_16_1/doxygen-1.16.1.linux.bin.tar.gz | tar zxf -
          echo "$(readlink -f doxygen-1.16.1/bin)" >> $GITHUB_PATH
          sudo apt install graphviz
      - name: "Configure project"
        run: |
          mkdir build
          cmake -B build -S .
          cmake --build build
      - name: "Run tests"
        run: ctest
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: "Build documentation"
        run: cmake --build build --target docs
      - name: "Publish documentation"
        env:
          GITHUB_TOKEN: ${{ secrets.DOCS_TOKEN }}
        run: ./docupages.py -t ${GITHUB_TOKEN} -r "${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}" --commit ${GITHUB_SHA} -b gh-pages
